name: CI

on:
  push:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        os: ["ubuntu-latest"]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install V
        uses: vlang/setup-v@v1
        with:
          check-latest: true

      - name: Checkout ${{ github.event.repository.name }}
        uses: actions/checkout@v2

      - name: Check if code is formatted
        run:  |
          v fmt -diff .
          v fmt -verify .
      
      - name: Build ${{ github.event.repository.name }} - xerdump
        run:
          v src/xerdump.v

      - name: Build ${{ github.event.repository.name }} - xerdiff
        run:
          v src/xerdiff.v

      - name: Build ${{ github.event.repository.name }} - xertask
        run:
          v src/xertask.v

      - name: Build ${{ github.event.repository.name }} - xerpred
        run:
          v src/xerpred.v

      - name: Build ${{ github.event.repository.name }} - xer2json
        run:
          v src/xer2json.v
         
      - name: Run Tests
        run: v test .
        env:
          VJOBS: 1

      - name: Install MinGW for cross-compile
        run: sudo apt-get install gcc-mingw-w64-x86-64

      - name: Make production binaries
        working-directory: src
        run: |
            ./build.sh
  
      - name: GH Release
        uses: softprops/action-gh-release@v0.1.14
        working-directory: src
        with:
          tag_name: beta
          files: |
            xertask
            xerdump
            xerdiff
            xerpred
            xer2json